h1 {
    font-weight: bold;
    font-size: 40px;
    padding: 25px;
}

@media (min-width: 992px) {
  .corn {
    float: right;
    max-width:35%;
    max-height:35%;
  }
}
@media (max-width: 991px) {
  .corn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:50%;
    max-height:50%;
  }
}

@media (min-width: 620px) {
  header {
      text-align: center;
      background-color: #a8dadc;
      /* background-color: #76A5BC; */
      height: 100px;
  }
}
@media (max-width: 619px) {
  header {
      text-align: center;
      background-color: #a8dadc;
      /* background-color: #76A5BC; */
      height: 140px;
  }
}

.heading > div {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    /* background-color: #B48E7E; */
    background-color: #e63946;
    text-align: center;
}

body {
    background-color: #fdfffc;
}

 footer {
     width: 100%;
     background-color: black;
     padding: 30px;
 }

strong {
    font-weight: normal;
}
i {
    color: gray;
    visibility: hidden;
}

.canvasHolder {
    margin: 20px;
    margin-right: 60px;
    margin-top: 60px;
    position: relative;
    height: 650px;
    width: 650px;
}
.canvas {
    position: absolute;
    top: 0; left: 0;
}

.canvasHolderImage {
    margin-right: 70px;
    margin-top: 20px;
    position: relative;
    height: 500px;
    width: 500px;
}

.planet-holder {
    margin: auto;
    margin-top: 40px;
}

.planet-calc {
    margin-bottom: 40px;
    margin-left: 20px;
    width: 630px;
}

.info {
    width: 90%;
    margin: auto;
    height: auto;
    clear: both;
}

.sub-holder {
    width: 350px;
}

.planet {
    width: 500px;
}

.info > .holder, .sub-holder, .planet > p, h4 {
    text-align: center;
    margin: 3px;
}
.small {
    font-size: 10px;
}

.planet-calc > p {
    margin: 5px;
}
p > input {
    width: 100px;
}

/* .holder {
    border: 3px solid black;
    border-radius: 10px;
    background-color: #FFFFFFDF;
    /* background-color: #fff1e6; */
    padding: 20px;
} */
.canvasSettings {
    width: 400px;
    margin-right: 60px;
    margin-top: 20px;
}
#response {
    width: 600px;
    font-size: 14px;
}
.response-top {
    width: 600px;
}
.response-holder {
    width: 680px;
    margin-left: 60px;
    margin-bottom: 40px;
    margin-top: 20px;
}

#clicktoaddplanet {
    width: 400px;
    margin-top: 120px;
    margin-left: 100px;
}

.expand {
    height: 0px;
    line-height: 0px;
    font-size: 14px;
    opacity: 0;
    margin: 0px;
}
.expand > p > strong {
    font-weight: normal;
    font-size: 12px;
}

.center-col {
    text-align: center;
}

.bolded {
    font-weight: bold;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
      display: none;
      position: absolute;
      background-color: #EA5460;
      min-width: 85%;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 5px;
      border-width: 1px;
      border-style: solid;
      border: white;
}

/* Links inside the dropdown */
.dropdown-content a {
      color: white;
      padding: 10px 14px;
      text-decoration: none;
      display: block;
      border-width: 1px;
      border-style: solid;
      border: white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: white; color: black}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
